/* Put your style information here! */
html, body {
    height: 100%;

    }
    
html {
    display: table;
    margin: 0px;
}    

.container {
    padding-left: 200px !important;
    padding-right: 200px !important;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Patrick Hand', cursive;    
}


h1 {
    font-size: 45px;
    text-align: left;
    color: rgb(99, 73, 64);
    margin-top: 15px;
    margin-bottom: 25px;
}

h2{
    margin-top: 5%;
    margin-bottom: 3%;
    /* color: rgb(223, 196, 196) !important; */
    color: lightslategray;
}

.subheadings{
    margin-top: 25px;
    margin-bottom: 15px;
}
.image{
    margin-top: 5%;
    border-style: dotted;
    width: 500px;
    height: 500px;
    display: table-cell;
    text-align: left;
vertical-align: left;
}



.image1{
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: dotted;
    display: block;
    width: 50%;
}

.numbers{
    margin: 15px;
}

.page {
    font-size: 25px;
    color: black;
}

.bg-light {
    background-color: rgb(230, 220, 220) !important;
    height: 60px;
    width: 110%;
    }

.nav-link{
    font-size: 20px;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 49%;

    }
    
@media only screen and (max-width: 1200px) {
     .responsive {
        width: 100%;
    }
}
